.about {
  // transition: margin 1s ease;

  &__family {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/family.jpg");
  }

  &__container {
    display: flex;
    flex-direction: row;
    height: calc(100vw / 2);
    max-height: 60vh;
  }

  &__left {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/crafting.jpg");
  }

  &__right {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/crafting2.jpg");
  }

  &__diamond {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/pear.jpg");
  }
}
