@use "../../styles/partials/breakpoints" as *;
// transition: margin 1s ease;

.about {
  &__padding {
    opacity: 0;
    @include medium {
      opacity: 0;
      margin: 0 100px;
    }
    @include large {
      margin: 0 200px;
    }
  }

  &__family {
    opacity: 0;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/family.jpg");
    @include large {
      height: 70vh;
    }
    @include x-large {
      max-height: 660px;
    }
  }

  &__top-medium {
    @include medium {
      margin-top: 40px;
      display: flex;
      max-height: 550px;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
  }

  &__top-medium-card {
    opacity: 0;
    @include medium {
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: center;
    }
    @include large {
      padding: 0 25px;
    }
  }

  &__mid-medium {
    @include medium {
      display: flex;
      margin-top: 40px;
      max-height: 550px;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    height: calc(100vw / 2);
    max-height: 60vh;
    @include medium {
      width: 50%;
      height: 60vh;
    }
  }

  &__left {
    opacity: 0;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/crafting.jpg");
    @include medium {
      width: 50%;
      height: 60vh;
    }
  }

  &__right {
    opacity: 0;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/crafting2.jpg");
    @include medium {
      height: 60vh;
      width: 100%;
    }
  }

  &__mid-medium-card {
    opacity: 0;
    @include medium {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include large {
      padding: 0 25px;
    }
  }

  &__diamond {
    opacity: 0;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/pear.jpg");
    @include medium {
      height: 60vh;
      width: 50%;
    }
  }

  &__bottom-medium {
    @include medium {
      padding: 40px 0;
      display: flex;
      width: 100%;
      max-height: 550px;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      @include large {
        padding: 0;
        margin: 40px 0;
      }
    }
  }

  &__bottom-medium-card {
    opacity: 0;
    @include medium {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
    @include large {
      padding: 0 25px;
    }
  }
}

.noDisplay {
  display: none;
}
