@use "../../styles/partials/breakpoints" as *;

.card {
  display: flex;
  flex-direction: column;
  @include medium {
    margin: 0 100px;
  }

  @include large {
  }

  &__intro {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }

  &__intro-text {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__intro-headline {
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 5px;

    &--small {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__intro-subheadline {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1.5px solid lightgray;

    &--small {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 10px;
      border-bottom: 1.5px solid lightgray;
    }
  }

  &__intro-blurb {
    padding-top: 10px;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-align-last: center;
  }
}
