@use "../../styles/partials/breakpoints" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__poster {
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/hand.jpg");
    @include medium {
      height: 60vh;
    }
  }

  &__poster-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 57%;
    @include medium {
      top: 59%;
    }

    @include large {
    }
  }

  &__poster-headline {
    font-size: 26px;
    padding-bottom: 5px;
    @include medium {
      font-size: 30px;
    }
  }

  &__poster-subheadline {
    padding-bottom: 10px;
    @include medium {
      font-size: 20px;
    }
  }

  &__poster-cta {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    padding: 6px 10px;
    @include medium {
      font-size: 14px;
    }
  }

  &__intro {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    @include medium {
      width: 50%;
      justify-content: center;
      font-size: 14px;
    }
  }

  &__intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px 0;
    border-bottom: 1.5px solid lightgray;
  }

  &__intro-welcome {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__intro-company {
    font-size: 16px;
  }

  &__intro-blurb {
    padding: 10px 30px;
    text-align: center;
  }

  &__intro-contact {
    font-style: italic;
    color: black;
    border-top: 1.5px solid lightgray;
    padding: 10px 0;
    width: 50%;
    text-align: center;

    &:hover {
      font-weight: bold;
    }
  }

  &__intro-wrapper {
    @include medium {
      padding: 40px 0;
      display: flex;
      width: 100%;
    }
  }

  &__article {
    @include medium {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__article-image {
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: center/cover url("../../assets/images/necklace.jpg");

    @include medium {
      height: 60vh;
      width: 50%;
    }
  }

  &__article-wrapper {
    @include medium {
      display: flex;
      width: 100%;
      padding-bottom: 40px;
    }
  }

  &__article-container {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    @include medium {
      font-size: 14px;
    }
  }

  &__article-header {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__article-subheader {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1.5px solid lightgray;
    width: 50%;
  }

  &__article-text {
    padding: 10px 30px;
    text-align: center;
  }

  &__article-person {
    font-style: italic;
    color: black;
    border-top: 1.5px solid lightgray;
    padding: 10px 0;
    width: 50%;
    text-align: center;
  }

  &__squares {
    display: flex;
    @include medium {
      width: 100%;
      padding-bottom: 40px;
    }
  }

  &__left-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
  }

  &__left-image {
    width: 100%;
    @include medium {
      width: 50%;
      height: 60vh;
      display: flex;
      align-items: end;
      flex-direction: row;
      position: relative;
      background: center/cover url("../../assets/images/earrings.jpg");
      justify-content: flex-end;
    }
  }

  &__left-link {
    font-size: 10px;
    position: absolute;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-style: italic;
    border: none;
    padding: 6px 10px;
    @include medium {
      padding: 8px 12px;
      font-size: 12px;
      margin: 20px;
    }
  }

  &__right-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    @include medium {
      align-items: baseline;
    }
  }

  &__right-image {
    width: 100%;
    @include medium {
      height: 60vh;
    }
  }

  &__right-link {
    font-size: 10px;
    position: absolute;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-style: italic;
    border: none;
    padding: 6px 10px;
    @include medium {
      padding: 8px 12px;
      font-size: 12px;
      margin: 20px;
    }
  }
}

.noDisplay {
  display: none;
}

.opacityZero {
  opacity: 0;
}
