.contact {
  &__form {
    margin: 0 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 2px;

    &--fine {
      display: none;
    }

    &--error {
      font-size: 10px;
      color: red;
    }
  }

  &__input {
    border-radius: 5px;
    border-width: 1px;
    padding: 3px;
    margin-bottom: 10px;
  }

  &__send {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    align-self: center;
    width: 40%;
    height: 30px;
  }
}
