.contact {
  &__form {
    margin: 0 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 2px;

    &--fine {
      display: none;
    }

    &--error {
      padding-bottom: 2px;
      display: flex;
      align-items: flex-end;
      font-size: 8px;
      color: red;
    }
  }

  &__input {
    border-width: 1px;
    padding: 3px;
    margin-bottom: 10px;

    &--textarea {
      height: 30vh;
    }
  }

  &__send {
    background-color: lightgray;
    border: none;
    font-style: italic;
    font-size: 12px;
    margin-top: 20px;
    align-self: center;
    width: 165px;
    height: 30px;
  }
}
