@use "../../styles/partials/breakpoints" as *;

.logoTop {
  font-size: 12px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__link {
    height: 50%;
    width: 150px;

    @include medium {
      width: 200px;
    }

    @include large {
    }
  }

  &__logo {
    filter: invert(100%);
    padding: 10px 0;
    height: 100%;
    width: 100%;
  }
}
