@use "../../styles/partials/breakpoints" as *;

.gallery {
  &__link {
    color: grey;

    &:hover {
      color: darkgray;
    }
  }

  &__padding {
    @include medium {
      margin: 0 100px;
    }
  }

  &__medium {
    @include medium {
      display: flex;
      padding-bottom: 40px;
      padding-top: 20px;
    }
  }

  &__medium-card {
    @include medium {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__medium-card-box {
    @include medium {
      margin: 0 40px;
    }
  }

  &__carousel {
    background-color: grey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include medium {
      width: 50%;
      height: 50%;
    }
  }
}
