@use "../../styles/partials/breakpoints" as *;

.gallery {
  &__link {
    color: grey;

    &:hover {
      color: darkgray;
    }
  }

  &__card {
    opacity: 0;
    @include medium {
      margin: 0 100px;
    }
  }

  &__medium {
    @include medium {
      display: flex;
      width: 100%;
    }
  }

  &__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    opacity: 0;
    @include medium {
      width: calc((100vw / 2));
      height: 100%;
      background: center/cover url("../../assets/images/gallery.jpg");
      filter: grayscale(1);
    }
  }

  &__carousel {
    opacity: 0;
    background-color: grey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include medium {
      width: 50%;
    }
  }
}
