@use "./styles/partials/breakpoints";
@use "./styles/partials/resets";
@use "./styles/partials/breakpoints" as *;

.app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 120px;
}

.outer__wrapper {
  @include large {
    display: flex;
    justify-content: center;
  }
}

.inner__wrapper {
  @include large {
    max-width: 1440px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
