@use "./styles/partials/breakpoints";
@use "./styles/partials/resets";

.app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 120px; /* height of your footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
